.section_name {
    background-color: red;
    border: 5px black solid;
    color: white;
    text-align: center;
}

div {
    background-color: grey;
    color: white;
    font-family: Vina Sans, Bastion, sans-serif;
    /* margin: 20px; */
}

.main_heading {
    background-color: red;
    border: 20px double black;
    color: white;
    text-align: center;
    margin: 20px;
    font-family: Vina Sans, Bastion, sans-serif;
}

audio {
    display: none;
}

span {
    color: rgb(230, 230, 116);
}

p {
    text-align: center;
}

body {
    background-image: url(/Images/Tile_86.png);
}

.footer-extend {
    padding-bottom: 50px;
    margin-top: 50px;
}

.about-me-extender {
    margin-top: 20px;
    padding-top: 10px;
}

.hidden {
    display: none;
}

@font-face {
    font-family: Vina Sans, Bastion, sans-serif;
    src: url(/Fonts/VinaSans-Regular.ttf);
}